.jumbotron {
    padding-top:  4rem ;
    
    background-color: #aad0e6;
    padding-bottom: 0rem;
}

.btn {
    background: linear-gradient(90deg, #571ec8, #4cd2d6);
}

.responsive {
    width: 100%;
    height: auto;

    
}
.project{
background-color: #aad0e6;
}

/* Background untuk section My Project */
.bg-custom {
    background-color: #aad0e6;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  /* Style kartu project */
  .project .card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect */
  .project .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  /* Style kartu project */
  .galeri .card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect */
  .galeri .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .gallery-img {
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover .gallery-img {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  .card {
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
    .footer {
    background-color: #0099ff;
  }

  /* Tambahan agar section terlihat dan tidak tertutup navbar */
  #galeri, #project, #contact {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .galeri {
    background-color: #aad0e6;
  }

  .contact {
    background-color: #aad0e6;
  }

  .img-hover {
    border-radius: 15px; /* Menambahkan radius pada gambar */
    transition: transform 0.3s; /* Efek transisi saat hover */
  }
  .img-hover:hover {
    transform: scale(1.05); /* Efek zoom saat hover */
  }

body {
  background-color: #aad0e6;
}

.nama {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #000;
}

.deskripsi {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #333;
}

.deskripsi .highlight {
  font-weight: 700;
  color: hotpink;
}

.typewriter {
  font-family: 'Open Sans', sans-serif;
  color: hotpink;
  font-weight: 700;
  overflow: hidden;
  border-right: 0.15em solid hotpink;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: hotpink }
}
