.jumbotron {
    padding-top:  4rem ;
    
    background-color: #aad0e6;
    padding-bottom: 0rem;
}

.btn {
    background: linear-gradient(90deg, #571ec8, #4cd2d6);
}

.responsive {
    width: 100%;
    height: auto;

    
}
.project{
background-color: #aad0e6;
}

/* Background untuk section My Project */
.bg-custom {
    background-color: #aad0e6;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  /* Style kartu project */
  .project .card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect */
  .project .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  /* Style kartu project */
  .galeri .card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect */
  .galeri .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .gallery-img {
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover .gallery-img {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  .card {
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
    .footer {
    background-color: #0099ff;
  }

  /* Tambahan agar section terlihat dan tidak tertutup navbar */
  #galeri, #project, #contact {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .galeri {
    background-color: #aad0e6;
  }

  .contact {
    background-color: #aad0e6;
  }

  .img-hover {
    border-radius: 15px; /* Menambahkan radius pada gambar */
    transition: transform 0.3s; /* Efek transisi saat hover */
  }
  .img-hover:hover {
    transform: scale(1.05); /* Efek zoom saat hover */
  }

body {
  background-color: #aad0e6;
}

.nama {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #000;
}

.deskripsi {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #333;
}

.deskripsi .highlight {
  font-weight: 700;
  color: Medium Slate Blue;
}

/* Efek animasi typewriter */
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #6747d0;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  width: 0;
  color: #6747d0; /* <-- Warna teks ditambahkan */
  display: inline-block;
}

/* Animasi ketik */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.blinking-heading {
  animation: blinkColor 1.5s ease-in-out infinite;
  font-weight: bold;
}

@keyframes blinkColor {
  0%   { color: MediumSlateBlue; }
  50%  { color: #ffcce6; } /* pink susu */
  100% { color: MediumSlateBlue; }
}

